.hansha-gradient-text {    
    width: 50rem;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg,#49CC5C,rgb(0, 1, 0) 87.19%);
    -webkit-background-clip: text;
    
}

.btn-success{
    background: linear-gradient(290deg,#095f16,rgb(61, 230, 46) 60%);
    /* font-size:80%; */
    font-size-adjust:inherit;
    /* overflow: auto;
    width: 110px; */
    align-items: center;
}

.size-auto{
    font-size:80%;
}

.hansha-gradient-bk-top{
    width: 50%;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(290deg,#239721,rgb(87, 8, 104) 87.19%);
    -webkit-background-clip: text;
}

.righty {
    background-image: linear-gradient(to top, rgba(255, 0, 0, 0),#41BD3A);
}

.chat-container{

    background-image: linear-gradient(to top, rgba(241, 231, 231, 0),#92db8f);
    width: 50%;
    height: 65%;
    position: relative; 
    left: 25%;
    overflow: auto;
    opacity: 100%;

    
}


.bg {
    /* The image used */
    background-image: url(/images/bkg2.jpg);
  
    /* Full height */
    height: 100%;
    
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .message-sent{
    opacity: 100%;
  }

  body{
    overflow: auto;
  }

  /* custom scrollbar */
::-webkit-scrollbar {
    width: 20px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
  }